table{
    font-size: 10pt;
    text-align: center;
    vertical-align: middle;
}
.mymargin5{
    margin:5px 0px 5px px;
}
.mycolor1{
    background-color: steelblue;
    color: white;
}
.mycolor2{
    background-color: lightsteelblue;
}
